.all_msgs {
    font-size: 1.6VW;
    padding: 12px;
    text-align: justify;
    font-family: sans-serif;
    margin: 24px;
    border-radius: 7px;
    color: white;
    background-color: rgb(181, 38, 59);
}

.all_msgs .name{
    font-size: 3VW;
    margin-bottom: 0.6VW;
    text-align: center;
    font-family: Impact
}

.all_msgs .quote{
    font-size: 2VW;
    margin-bottom: 1.8VW;
    text-align: center;
    font-family: Impact
}

@media screen and (max-width: 780px) {
    .all_msgs {
        font-size: 2.8VW;
        margin-top: 1.2VW;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    
    .all_msgs .name{
        font-size: 4.2VW;
    }
    
    .all_msgs .quote{
        font-size: 3.6VW;
        margin-bottom: 15px;
    }
}