.fanart-case {
    width: 100%;
    color: white;
    text-shadow: 0px 0px 3px #eeff00;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    position: relative; 
    font-family: Impact;
    --height: 65VH;
    --name: 42px;
    --temp: 1.6VW;
    --quote: 2VW;
    --cred: 18px;
    --line-width: 2px;
    --aspect-raito: 1;
}

hr.decor-line {
    --bg-color: red;
    background-color: var(--bg-color);
    border: var(--line-width) solid var(--bg-color);
    position: absolute;
    text-align: center;
    top: var(--name);
    width: calc(100% - 2 * var(--line-width));
}

@media screen and (max-width: 780px) {
    .fanart-case{
        --name: 32px;
        --temp: 18px;
        --quote: 24px;
    }
}

.fanart-case .anchor {
    aspect-ratio: var(--aspect-raito);
    flex-grow: 1;
    position: relative; 
}

.fanart-case .anchor .left{
    position: absolute;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fanart-case .anchor .canvus{
    position: absolute;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    background-color: rgb(34, 34, 34);
    top:0;

    /*javascript animation params*/
    --init-width: 0%;
    --end-width: 100%;

    /*var plugin*/
    width: var(--init-width);
}

.fanart-case:hover{
    cursor: pointer;
}

.fanart-case .anchor .left{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --pad: 10px;
    width: 60%;
    height: auto;
    font-size: var(--temp);
    left:0;
    /*top: calc(var(--height) / 2 - var(--temp));*/
    font-family: sans-serif;
    
    /*javascript animation params*/
    --init-opacity: 1;
    --init-transform: scale(1, 1);
    --end-opacity: 0;
    --end-transform: scale(0.5, 0.5);

    /*var plugin*/
    opacity: var(--init-opacity);
    transform: var(--init-transform);
}

.fanart-case .anchor .left .txt-wrap{
    font-size: var(--temp);
    padding: 10px;
    background-color: rgba(228, 0, 18, 0.65);
}

.fanart-case .anchor .left .txt-wrap .quote{
    font-size: var(--quote);
}


.fanart-case .anchor .name{
    position: absolute;
    font-size: var(--name);
    text-align: center;
    width: 100%;
}



.fanart-case img.frame{
    position: absolute;
    object-fit: scale-down;
    border-radius: 6px;
    right: 0;

    --pad: 10px;
    --n-marg: calc(var(--name) + var(--pad));
    --c-marg: calc(var(--cred) + var(--pad));

    /*javascript animation params*/
    --init-width: 60%;
    --init-height: 100%;
    /*--init-top: var(--n-marg);
    --init-padding-top: var(--line-width);*/

    --end-width: 100%;
    --end-height: 100%;
    /*--end-top: 0;
    --end-padding-top: 0;*/

    /*var plugin*/
    width: var(--init-width);
    height: var(--init-height);
    /*top: var(--init-top);
    padding-top: var(--line-width);*/
}
