.fanart-case {
    width: 100%;
    color: white;
    text-shadow: 0px 0px 3px #eeff00;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    position: relative; 
    font-family: Impact;
    --name: 42px;
    --temp: 1.6VW;
    --quote: 2VW;
    --line-width: 6px;
    --aspect-raito: 4 / 3;
    --vpad: 12px;
}

@media screen and (max-width: 780px) {
    .fanart-case {
        --name: 32px;
        --temp: 3.2VW;
        --quote: 4VW;
    }
}

.fanart-case .anchor {
    aspect-ratio: var(--aspect-raito);
    flex-grow: 1;
    position: relative; 
}

.fanart-case .anchor .dot {
    --diam: 6px;
    --hmarg: 24px;
    --vmarg: calc(var(--name) / 2 + var(--diam) / 2);
    height: var(--diam);
    justify-content: center;
    width: var(--diam);
    margin-left: calc(var(--hmarg) / 2);
    margin-right: calc(var(--hmarg) / 2);
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.fanart-case .anchor .canvus{
    position: absolute;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    background-color: rgb(34, 34, 34);
    top:0;

    /*javascript animation params*/
    --init-width: 0%;
    --end-width: 100%;

    /*var plugin*/
    width: var(--init-width);
}

.fanart-case:hover{
    cursor: pointer;
}

.fanart-case .anchor .left{
    position: absolute;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;
    height: auto;
    font-size: var(--temp);
    left:0;
    /*top: calc(var(--height) / 2 - var(--temp));*/
    font-family: sans-serif;
    
    /*javascript animation params*/
    --init-opacity: 1;
    --init-transform: scale(1, 1);
    --end-opacity: 0;
    --end-transform: scale(0.5, 0.5);

    /*var plugin*/
    opacity: var(--init-opacity);
    transform: var(--init-transform);
}

.fanart-case .anchor .left .txt-wrap{
    font-size: var(--temp);
    padding: 10px;
    background-color: rgba(228, 0, 18, 0.65);
}

.fanart-case .anchor .left .txt-wrap .quote{
    font-size: var(--quote);
}

.fanart-case .header{
    flex-grow: 1;
    position: relative; 
    width: 100%;
    --height: calc(var(--name) + 12px);
    height: var(--height);
    text-align: center;
}

.fanart-case .header .name {
    position: absolute;  
    font-size: var(--name);
    width: 100%;
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fanart-case .header hr.decor-line {
    border: var(--line-width) solid red;
    position: absolute;
    background-color: red;
    top: calc(var(--height) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fanart-case img.frame{
    position: absolute;
    object-fit: scale-down;
    border-radius: 6px;
    right: 0;

    /*javascript animation params*/
    --end-width: 100%;
    --end-height: 100%;
    --end-top: 0;

    --init-top: calc(var(--name) + var(--vpad));
    --init-width: 60%;
    --init-height: calc(100% - 2 * var(--init-top));

    /*var plugin*/
    width: var(--init-width);
    height: var(--init-height);
    top: var(--init-top);
}
