.fanart-case{
    width: auto;
    margin: 10px;
    color: white;
    position: static;
    --height: 65VH;
    --name: 42px;
    --temp: 26px;
    --quote: 32px;
    --cred: 18px;
    --line-width: 2px;
    height: var(--height);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

hr.decor-line{
    border: var(--line-width) solid red;
    position: absolute;
    text-align: center;
    top: var(--name);
    width: calc(100% - 2 * var(--line-width));
}

@media screen and (max-width: 780px) {
    .fanart-case{
        --name: 32px;
        --temp: 18px;
        --quote: 24px;
        --cred: 12px;
        --height: 45VH;
    }
}

.fanart-case:hover{
    cursor: pointer;
}

.fanart-case .rel{
    position: relative;
}

.fanart-case .rel .canvus{
    position: absolute;
    width: 100%;
    margin: 0px;
    height: var(--height);
    background-color: rgb(34, 34, 34);
    top:0;

    /*javascript animation params*/
    --init-width: 0%;
    --end-width: 100%;

    /*var plugin*/
    width: var(--init-width);
}


.fanart-case .rel .txt-wrap{
    position: absolute;
    background-color: rgba(228, 0, 18, 0.65);
    --pad: 10px;
    width: 60%;
    padding-top: var(--pad);
    padding-bottom: var(--pad);
    font-size: var(--temp);
    left:0;
    top: calc(var(--height) / 2 - var(--temp));
    font-family: sans-serif;
    
    /*javascript animation params*/
    --init-opacity: 1;
    --init-transform: scale(1, 1);
    --end-opacity: 0;
    --end-transform: scale(0.5, 0.5);

    /*var plugin*/
    opacity: var(--init-opacity);
    transform: var(--init-transform);
}

.fanart-case .rel .txt-wrap .quote{
    font-size: var(--quote);
}


.fanart-case .rel .name{
    position: absolute;
    font-size: var(--name);
    text-align: center;
    top:0;
    width: 100%;
}

.fanart-case .rel .credit{
    position: absolute;
    margin: 0px;
    font-size: var(--cred);
    font-family: sans-serif;
    top: calc(var(--height) -  1.5 * var(--cred));
    right: 0;
}


img.frame{
    position: absolute;
    object-fit: scale-down;
    border-radius: 6px;
    right: 0;

    --pad: 10px;
    --n-marg: calc(var(--name) + var(--pad));
    --c-marg: calc(var(--cred) + var(--pad));

    /*javascript animation params*/
    --init-width: 60%;
    --init-height: calc(var(--height) - var(--n-marg) - var(--c-marg));
    --init-top: var(--n-marg);
    --init-padding-top: var(--line-width);

    --end-width: 100%;
    --end-height: var(--height);
    --end-top: 0;
    --end-padding-top: 0;

    /*var plugin*/
    width: var(--init-width);
    height: var(--init-height);
    top: var(--init-top);
    padding-top: var(--line-width);
}

@media screen and (max-width: 780px) {
    img.frame{
        --pad: 5px;
    }
}