.fanmsg-card {
    width: 100%;
    color: white;
    text-shadow: 0px 0px 3px #eeff00;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    --quote: 3.2VW;
    --temp: 2.4VW;
    --name: 1.4VW;
    --passage: 1.2VW;
    position: relative; 
    transition: transform 0.6s;
}

@media screen and (max-width: 780px) {
    .fanmsg-card {
        --quote: 6VW;
        --temp: 4VW;
        --name: 3.2VW;
        --passage: 2.8VW;
    }
}

.fanmsg-card .inner {
    position: relative;
    aspect-ratio: 16 / 9;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.fanmsg-card .front, .fanmsg-card .back {
    position: absolute;
    flex-grow: 1;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.fanmsg-card .front {
    background-size: cover;
    background-repeat: no-repeat;
    font-size: var(--quote);
}

.fanmsg-card .back {
    text-align: justify;
    font-size: var(--passage);
    transform: rotateY(180deg);
}

.fanmsg-card .front .temp {
    position: absolute; 
    top:  calc(var(--temp) / 2);
    left: calc(var(--temp) / 2);
    text-align: left;
    font-size: var(--temp); 
}

.fanmsg-card .front .name {
    position: absolute; 
    bottom: calc(var(--name) / 2);
    right:  calc(var(--name) / 2);
    text-align: right;
    font-size: var(--name); 
    text-shadow: 0px 0px 4px red;
}
  
.fanmsg-card:hover .inner {
    transform: rotateY(180deg);
}