.fanmsg-card {
    width: 100%;
    color: white;
    text-shadow: 0px 0px 3px #eeff00;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    --quote: 3.2VW;
    --temp: 2.4VW;
    --name: 1.4VW;
    position: relative; 
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 780px) {
    .fanmsg-card {
        --quote: 6VW;
        --temp: 4VW;
        --name: 3.2VW;
    }
}


.fanmsg-card .quote {
    aspect-ratio: 16 / 9;
    flex-grow: 1;
    position: relative; 
    font-size: var(--quote); 
    font-family: Impact;
}

.fanmsg-card .quote .inner{
    position: absolute;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fanmsg-card .temp {
    position: absolute; 
    top:  calc(var(--temp) / 2);
    left: calc(var(--temp) / 2);
    text-align: left;
    font-size: var(--temp); 
}

.fanmsg-card .name {
    position: absolute; 
    bottom: calc(var(--name) / 2);
    right: calc(var(--name) / 2);
    text-align: right;
    font-size: var(--name); 
    text-shadow: 0px 0px 4px red;
}