.sect-block{
    width: auto;
    margin: 60px;
    margin-bottom: 80px;
    --title-font: 64px;
}

.sect-block .header{
    position: static;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.sect-block .header .title{
    position: relative;
    font-size: var(--title-font);
    color: white;
    text-shadow: 0px 0px 3px #eeff00;
}

.sect-block .header .view-all{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 30px;
    color: white;
}

.sect-block .content{
    position: static;
    width: 100%;
}


@media screen and (max-width: 780px) {
    .sect-block{
        --title-font: 42px;
        margin-left: 5px;
        margin-right: 5px;
    }
}