.sect-block {
    width: auto;
    margin: 60px;
    margin-bottom: 80px;
    --title-font: 64px;
    --cont-width: 85%;
    --marg: calc(50% - var(--cont-width) / 2);
}

.sect-block .header{
    position: relative;
    font-family: Impact
}

.sect-block .header .title{
    font-size: var(--title-font);
    color: white;
    text-shadow: 0px 0px 3px #eeff00;
}

.sect-block .header .view-all{
    position: absolute;
    top: 0px;
    right: var(--marg);
    font-size: 30px;
    color: white;
    font-family: Impact sans-serif
}

.sect-block .content {
    position: static;
    width: var(--cont-width);
    margin-left: var(--marg);
    margin-right: var(--marg);
}


@media screen and (max-width: 780px) {
    .sect-block {
        --cont-width: 100%;
        --title-font: 42px;
    }
}