.titled-media-text{
    width: 100%;
}

.titled-media-text .button{
    font-size: 2VW;
    margin-top: 4VW;
    margin-left: 15%;
    text-align: center;
    background-color:skyblue; /* Green */
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.5s ease-out;
    border-radius: 10px;
    font-size: 2.5VW;
    padding-top: 0.8VW;
    padding-bottom: 0.8VW;
    opacity: 1;
    z-index: 901;
    width: 70%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

@media screen and (max-width: 780px) {
    .titled-media-text .button{
        font-size: 4VW;
        padding-top: 1.2VW;
        padding-bottom: 1.2VW;
    }
}


.titled-media-text .button:hover{
    opacity: 0.65;
    
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


.titled-media-text .passage{
    font-size: 2VW;
    width: 100%;
    text-align: justify;
    color: white;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 780px) {
    .titled-media-text .passage{
        font-size: 3VW;
    }
}



.titled-media-text .title{
    background: transparent;
    color:white;
    display: inline-block;
    text-align: center;
    font-size: 3VW;
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
    .titled-media-text .title{
        font-size: 4VW;
        margin-top: 20px;
    }
}