.top-banner{
    position: static;
    background-color:rgb(34, 34, 34);
    width: 100%;
    height: 100VH;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --prog-bar: 18px;
    --upper-font: 96px;
    --lower-font: 54px;
    --font-pad: 18px;
    --upper-height: calc(50VH  - var(--prog-bar) / 2);
    --lower-height: calc(100VH - var(--prog-bar) - var(--upper-height));
}

.top-banner .fixed{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.top-banner .static{
    position: relative;
    width: 100%;
}

.top-banner .upper{
    height: var(--upper-height);
    background-color:rgb(228, 0, 18);
}

.top-banner .lower{
    position: static;
    height: var(--lower-height);
    background-color:rgb(34, 34, 34);
}

.top-banner .bar-container {
    width: 100%;
    height: var(--prog-bar);
    background: #ccc;
}
  
.top-banner .bar-container .progress {
    height: var(--prog-bar);
    background: white;
    width: 0%;
}

.top-banner .suptitle{
    font-size: var(--upper-font);
    width: 100%;
    padding-top: calc(var(--upper-height) - var(--upper-font) - var(--font-pad));
    color:rgb(35, 24, 21);
    text-align: center;
}

.top-banner .quote{
    font-size: var(--lower-font);
    width: 100%;
    padding-top: var(--font-pad);
    color: white;
    text-align: center;
}

.top-banner .proj{
    font-size: 36px;
    width: 100%;
    margin-top: calc(65VH / 3 - 36px);
    color: white;
    text-align: center;
    opacity: 0;
}
